.eunit
rebar/*
.rebar/*
rebar3.crashdump
deps
*.sublime-project
*.sublime-workspace
*.beam
bin
ebin
erl_crash.dump
_build/*
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
