#(project
  (#(deps (#("lfex/kla" "master")
           #("lfex/ltest" "master")
           #("lfex/lutil" "master")))
   #(meta (
     #(name lcfg)
     #(description "A library for managing and using lfe.config files.")
     #(version "0.0.1")
     #(keywords ("LFE" "Lisp" "Library" "Configuration" "Utility"))
     #(maintainers (
       (#(name "Duncan McGreggor") #(email "duncan@lfe.io"))))
     #(repos (
       #(github "lfex/lcfg")))))))
