#(project
  (#(deps (#("rvirding/lfe" "develop")
           #("lfex/lutil" "master")))
   #(meta (#(name ltest)
           #(description "A Testing Framework for LFE.")
           #(version "0.6.3")
           #(keywords ("LFE" "Lisp" "Library" "Testing"))
           #(maintainers (
             (#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
           #(repos (
             #(github "lfex/ltest")))))))
