{eunit_opts, [verbose]}.
{eunit_compile_opts, [
    {src_dirs, ["src", "test"]}
  ]}.

{deps, [
   {lutil, {git, "https://github.com/lfex/lutil.git", {tag, "0.10.0-rc5"}}},
   {color, {git, "https://github.com/julianduque/erlang-color.git", {tag, "v1.0.0"}}}
  ]}.

%{plugins, [
%   {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.8.0-rc2"}}},
%   {'lfe-test', {git, "https://github.com/lfe-rebar3/test.git", {tag, "0.4.0-rc3"}}},
%   {'lfe-clean', {git, "https://github.com/lfe-rebar3/clean.git", {tag, "0.4.0-rc2"}}}
%  ]}.

{provider_hooks, [
   {pre, [{compile, {lfe, compile}}]}
  ]}.

%%{project_plugins, [
%%   {lodox, {git, "https://github.com/lfe-rebar3/lodox.git", {tag, "0.12.14"}}}
%%  ]}.

{profiles, [
   %% Alternatively, you can use the Gitlab mirror with the following:
   %% $ rebar3 as gitlab compile
   {gitlab, [
     {deps, [
        {lutil, {git, "https://gitlab.com/lfex/lutil.git", {tag, "0.10.0-rc5"}}}]},
    {plugins, [
         {'lfe-compile', {git, "https://gitlab.com/lfe-rebar3/compile.git", {tag, "0.8.0-rc2"}}},
         {'lfe-test', {git, "https://gitlab.com/lfe-rebar3/test.git", {tag, "0.4.0-rc3"}}}]}
      ]},
   %% Or use Hex.pm instead with:
   %% $ rebar3 as hexpm compile
   {hexpm, [
     {deps, [
        {lutil, "0.10.0-rc5"},
        {erlang_color, "1.0.0"},
        {ltest, "0.10.0-rc2"}]},
     %{plugins, [{rebar3_lfe_compile, "0.8.0-rc2"},
     %           {rebar3_lfe_test, "0.4.0-rc2"},
     %           {rebar3_lfe_clean, "0.4.0-rc2"}]},
     {erl_opts, [{src_dirs, ["src", "test"]}]}
    ]},
   {dev,
     [{deps, [
        {lfe, {git, "https://github.com/rvirding/lfe.git", {tag, "v1.2.0"}}},
        {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.8.0-rc2"}}},
        {'lfe-version', {git, "https://github.com/lfe-rebar3/version.git", {tag, "0.5.0-rc2"}}}]},
      {plugins, [
        {'lfe-version', {git, "https://github.com/lfe-rebar3/version.git", {tag, "0.5.0-rc2"}}}]}
      ]},
   {test, [
     {deps, [
       {ltest, {git, "https://github.com/lfex/ltest.git", {tag, "0.10.0-rc2"}}},
       {'lfe-version', {git, "https://github.com/lfe-rebar3/version.git", {tag, "0.5.0-rc2"}}}]},
     {plugins, [
       {'lfe-test', {git, "https://github.com/lfe-rebar3/test.git", {tag, "0.4.0-rc3"}}}]},
     {eunit_opts, [verbose]},
     {erl_opts, [{src_dirs, ["src", "test"]}]}
    ]}
  ]}.
