{erl_opts, [debug_info]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
    {src_dirs, ["test", "src"]}
  ]}.
{deps, [
    {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", {tag, "v0.9.2"}}},
    {lutil, ".*", {git, "git://github.com/lfex/lutil.git", {tag, "0.6.6"}}},
    {clj, ".*", {git, "git://github.com/lfex/clj.git", {tag, "0.2.1"}}},
    {color, ".*", {git, "git://github.com/julianduque/erlang-color.git",
      {tag, "v0.2.0"}}}
  ]}.

